body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.webp");
}
html {
    background: url("./police.webp");
    background-size:auto 170%;
    background-repeat: no-repeat;

}