body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 65px;
    margin-top: 80px;
}

#menu {
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 500px;
    gap: 40px;
}

button {
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    background-color: #8c52ff;
    cursor: pointer;
}

button:hover {
    transition: 0.25s;
    background-color: #c1a2fe;
}